

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}
.tagcloud--item{
    color: aqua;
    text-transform: uppercase ;
}
.tagcloud--item:hover{
    color : red
}