.p{
    position:absolute;
    top:-6px;
    z-index: 5000000;
    left:-3px;
    width:10px;
    height:10px;
    border-radius:50%;
    background:radial-gradient(rgba(255,255,255,.5),rgba(255,255,255,0));
}