.text-animation{
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    height: 80px;
  width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-animation span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 60px;
    height: 80px;
    font-size: 55px;
    line-height: 30px;
    color: #B740A7;
    border-radius: 2px;
}
.text-animation span.block{
    background: #B740A7;
    
}
.text-animation span.box{
    border: 1px solid #B740A7;
}
@media screen and (max-width: 1024px){
    .text-animation span{
        font-size: 50px;
    }
} 
@media screen and (max-width: 768px){
    .text-animation {
        margin: 0;
        margin-bottom: -15px;
    }
.text-animation span{
    font-size: 35px;
}
}