.text-animation{
    font-family: "ROBOTO Mono", "monospace";
    text-align: center;
}
.text-animation span {
    
align-items: center;
    letter-spacing: 5px;
    padding: 2px;
    width: 60px;
    height: 80px;
    font-size: 70px;
    line-height: 30px;
    color: #B740A7;
    border-radius: 2px;
}
.text-animation span.block{
    background: #B740A7;
    
}
.text-animation span.box{
    border: 1px solid #B740A7;
}