.homeContainer {
  background-image: url("../../assets/pics/bck.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h-textContainer {
  height: 250px;
}
.h-textContainer h1 {
  color: white;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 1.2rem;
  text-size-adjust: auto;
}
.h-textContainer h3 {
  color: #B740A7;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1rem;
}

a {
  text-align: center;
}

.button {
  background: linear-gradient(90deg, rgb(217, 0, 255) 0%, rgb(118, 0, 255) 41%);
  border-radius: 100px;
  box-shadow: rgba(149, 6, 152, 0.2) 0 -25px 18px -14px inset, rgba(185, 44, 187, 0.15) 0 1px 2px, rgba(170, 44, 187, 0.15) 0 2px 4px, rgba(187, 44, 161, 0.15) 0 4px 8px, rgba(187, 44, 170, 0.15) 0 8px 16px, rgba(187, 44, 180, 0.15) 0 16px 32px;
  color: rgb(237, 237, 237);
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  z-index: 100;
}
.button:hover {
  box-shadow: rgba(87, 15, 83, 0.35) 0 -25px 18px -14px inset, rgba(96, 9, 83, 0.25) 0 1px 2px, rgba(106, 8, 85, 0.25) 0 2px 4px, rgba(87, 8, 80, 0.25) 0 4px 8px, rgba(72, 4, 68, 0.25) 0 8px 16px, rgba(85, 10, 82, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.earth {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;
  height: 20rem;
  z-index: 51;
}

.rock {
  position: absolute;
  height: 11rem;
  width: 11rem;
  left: 5rem;
  top: 18em;
  animation: 10s infinite levitation;
}

@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
}
.rock1 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 8rem;
  right: 25rem;
  animation: 10s infinite levitation;
}

.littleRocks {
  position: absolute;
  bottom: 5rem;
  right: 8rem;
  width: 10rem;
  height: 5rem;
  animation: 10s infinite levitation;
}

.rockDown {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 5rem;
  left: 25rem;
  animation: 10s infinite levitation;
}

.rocket {
  position: absolute;
  width: 3rem;
  height: 6rem;
  right: 13rem;
  bottom: 10rem;
  animation: 10s infinite rocket;
}

@keyframes rocket {
  0% {
    transform: rotate(120deg) translateX(0);
  }
  50% {
    transform: rotate(120deg) translateX(1.5rem);
  }
  100% {
    transform: rotate(120deg);
  }
}
.guide {
  position: absolute;
  right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  top: 0;
}

.star1 {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  transition: ease-in 2s;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
}

.neon-line1 {
  height: 78%;
  width: 4px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
  animation: neon 1s ease-in-out infinite alternate, position 1s ease-in-out forwards;
}

.neon-line2 {
  height: 22%;
  width: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
  animation: neon 1s ease-in-out infinite alternate, position 1s ease-in-out forwards;
}

@keyframes neon {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff, 0 0 100px #fff;
  }
}
/*Responsive*/
@media screen and (max-width : 1024px) {
  .h-textContainer h1 {
    font-size: 40px;
  }
  .guide {
    right: 2rem;
  }
  .earth {
    width: 18rem;
    height: 18rem;
  }
  .rock {
    width: 5rem;
    height: 5rem;
  }
  .rock1 {
    display: none;
  }
  .button {
    font-size: 20px;
    padding: 8px 50px;
  }
}
@media screen and (max-width: 920px) {
  .h-textContainer h1 {
    margin-top: 1rem;
  }
  .earth {
    height: 12rem;
    width: 12rem;
  }
  .rock {
    display: none;
  }
  .rockDown {
    display: none;
  }
  .button {
    font-size: 16px;
    padding: 10px 30px;
  }
  .guide {
    height: 100%;
    right: 1em;
  }
  .rocket {
    width: 2.5rem;
    height: 5rem;
    top: 5rem;
    left: 3rem;
  }
  .littleRocks {
    bottom: 4rem;
    left: 50%;
    animation: 10s infinite levitation-sm;
  }
  @keyframes levitation-sm {
    0% {
      transform: translateY(0) translateX(-50%);
    }
    50% {
      transform: translateY(1.5rem) translateX(-50%);
    }
    100% {
      transform: translateY(0) translateX(-50%);
    }
  }
  .star1 {
    width: 10px;
    height: 10px;
  }
  .neon-line1, .neon-line2 {
    width: 3px;
  }
}
@media screen and (max-width: 620px) {
  .h-textContainer h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 550px) {
  .h-textContainer h1 {
    font-size: 30px;
  }
}
@media screen and (max-width : 445px) {
  .h-textContainer {
    height: 200px;
  }
  .h-textContainer h1 {
    font-size: 22px;
    margin: 0;
  }
  .h-textContainer h3 {
    font-size: 15px;
  }
}
@media screen and (max-width : 375px) {
  .h-textContainer h1 {
    margin-top: -0.5rem;
    font-size: 22px;
  }
  .h-textContainer h3 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=home.css.map */
