.homeContainer {
    background-image: url("../../assets/svg/bck.png");
    background-size: cover;
    min-height: 100vh;
    max-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media (max-width : 1000px) {
    .homeContainer{
        max-width: 90%;
    }
}
.homeContainerTransition{
    animation: slideUp 1.5s ease-in-out;
    transform: translateY(-100%);
}
.earth{
    position: absolute;
    top: 0;
    right: 0;
    width: 70rem;
    height: 50rem;
}
.rock{
    position: absolute;
    height:15rem;
    width: 15rem;
    left: 5rem;
    bottom: 5rem;
    animation : 10s infinite test;
}
@keyframes test {
   0% {
        transform: translateY(0);
   } 
    50% {
          transform: translateY(1.5rem);
    }
}
.rock1{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 10rem;
    right: 40rem;
    animation : 10s infinite test;
-webkit-animation : 10s infinite test;
}
.littleRocks{
    position : absolute;
    bottom: 5rem;
    right: 10rem;
    width: 10rem;
    height: 5rem;
    animation : 10s infinite test;
}
.rockDown{
    position: absolute;
    width: 3rem;
    height:3rem;
    top: 10rem;
    left: 30rem;
    animation : 10s infinite test;
}
.rocket{
    position: absolute;
    width: 3rem;
    height: 6rem;
    right: 13rem;
    bottom: 10rem;
    animation : 10s infinite rocket;
}
@keyframes rocket {
    0% {
        transform: rotate(120deg) translateX(0);
   } 
    50% {
          transform: rotate(120deg) translateX(1.5rem);
    }
    100%{
        transform: rotate(120deg);
    }
}
.rocketLaunch{
    position: absolute;
    width: 3rem;
    height: 6rem;
    right: 13rem;
    bottom: 10rem;
    animation : 5s ease-out forwards rocketLaunch,5s ease-out forwards 5s rocketDown ;
    transform: rotate(180deg);
}
.rocketContainer{
    position: absolute;
    right: 14.3rem;
    bottom: 15rem;
    border: 3px solid blue;
    animation: 2s ease-in-out forwards trace ;
}
@keyframes trace {
    from{
        height: 0;
    }
    to {
        height: 110px;
    }
}
@keyframes rocketLaunch {
   from {
    transform: rotate(120deg) ;
   }
   to{
    transform: rotate(180deg) ;
   }
}
@keyframes rocketDown {
    from {
    bottom : 10rem;
    }
    to{
     bottom : -50px;
    }
 }


.homeContainer > h3 {
    position: absolute;
    top: 0;
    left: 5rem;
    color: white;
    font-size: 32px;
    font-weight: 400;
}

  
.homeContainer > h2 {
    margin: 0;
    margin-top: 2rem;
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
.homeContainer > a  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5rem;
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    width: 332px;
    height: 76px;
    border-radius: 50px;
    background-color: #332569;
    border: none;
    cursor: pointer;
}
.homeContainer > a > button  {
    color: white;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.neon-line1 {
    height: 5rem;
    width: 4px;
    background-color: #fff;
    border-radius : 20px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
    animation: neon 1s ease-in-out infinite alternate, position 1s ease-in-out forwards ;
  }
.neon-line2 {
    height: 2rem;
    width: 4px;
    background-color: #fff;
    border-radius : 20px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
    animation: neon 1s ease-in-out infinite alternate, position 1s ease-in-out forwards ;
  }
  @keyframes neon {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff, 0 0 100px #fff;
    }
  }
  .guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px ;
    position: absolute;
    right: 5rem;
    bottom: 0rem;
  }
.star1{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: blue;
}
  