.contactContainer {
    background-image: url("../../assets/svg/bck.png");
       background-size: cover;
       height: 100vh;
       width: 100%;
       display: flex;
         flex-direction: row;
            align-items: center;
            justify-content: space-between;
}
.formContainer{
   width: 50%;
}
.astroContainer {
    width: 50%;
}