@import "../../cssConstants/responsive.scss";
@import "../../cssConstants/colors.scss";

.contactContainer {
    background-image: url("../../assets/svg/bck.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.formContainer{
   width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 20px;
        input {
            width: 100%;
            height: 60px;
            border: 1px solid white;
            border-radius: 20px;
            padding: 10px;
            padding-left: 20px;
            font-size: 1rem;
            font-weight: 600;
            color: white;
            background-color: rgba(255, 255, 255, 0.1);
            
            &:focus {
               border-color: red;
            }
           
            &::placeholder {
                color: white;
                font-weight: 500;
            }
           
        
        }
        textarea { 
            @extend input;
            height: 15rem;
}
.btn-3 {
width: 60%;
margin-top: 1rem;
}
    }
}

.astroContainer {
    display: flex;
    position: relative;
    width:50%;
    height: 100%;
    align-items: flex-end;
    z-index: 0;
    img:not(:last-child) {
        position: absolute;
        width: 5rem;
        height: 5rem;
        animation: 6s infinite planet;
    }
}
.planet1 {
    width: 2rem !important;
    height: 2rem !important;
    top: 50%;
    right: 20%;
}
.planet2 {
    // violet planet
    height: 4rem !important;
    bottom: 30%;
   left: 10%;
}
.planet3 {
    // orange planet
    top: 10%;
    right: 10%;
}
.planet4 {
    //pink planet
    bottom: 20%;
    left: 80%;
}
.planet5 {
   //big yellow and pink planet
    height: 10rem !important;
    width: 10rem !important ; 
    top: 10%;
    left: 10%;
}
.planet6 {
    //white and blue planet
    width: 8rem !important;
    height: 8rem !important;
    top: 30%;
    right: 30%;
}

@keyframes planet {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7px);
    }
   
}
.overlayContact {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
// responsive md
@media #{$md-media}{
    .formContainer{
        h2 {
            font-size: 2rem;
        }
    }
    .btn-3{
        font-size: 15px;
    }
}
// responsive xs
@media #{$xs-media}{
    .contactContainer{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .formContainer{
        h2 {
            font-size: 1.5rem;
        }
    }
    .astroContainer{
        width: 100%;
        position: absolute;
       left: 50%;
       transform: translateX(-50%); 
       
    }
    .formContainer {
        width: 100%;
        z-index: 1;
    }
    .btn-3{
        font-size: 12px;
    }
    .planet3 {
        top: 0;
    }
    .planet4 {
        top: 5%;
        left: 10%;
        width: 3rem !important;
        height: 3rem !important;
    }
    .planet2{
        width: 2rem;
        height: 2rem;
        bottom: 10%;
        left: 2%;
    }

    .planet5, .planet6, .planet1 {
        display: none;
    }
}