@import "../../cssConstants/colors.scss";
@import "../../cssConstants/responsive.scss";
.hambuger-menu {
    display: none;
}
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: transparent;
    z-index: 1000;
    backdrop-filter: blur(10px);
    padding: 1rem;
   animation: 1s ease-in-out forwards navbar-down;
   @keyframes navbar-down {
    from {
        transform: translateY(-100%);

    }
    to {
        transform: translateY(0);
    }
   }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        gap: 2em;
    }
    li {
        color: white;
        position: relative;
        list-style-type: none;
        cursor: pointer;
        &::after {
            content : "";
            width : 0%;
            height : 3px;
            background-color : #{$primary_text_color};
            position: absolute;
           bottom: 0%; left: 50%;
            border-radius : 10px;
            transition: all 500ms ease-out;
        }
       &:hover {
        transform:translateY(-5px);
        transition: .3s;  
        &::after {
            width : 100%;
            left: 0%;
        }
    }
    h3{
        color: white;
        font-size: 25px;
    }
}
}
.navbar-hidden {
    animation: 1s ease-in-out forwards navbar-up;
    @keyframes navbar-up {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
        }
}

.active-scroll-spy {
    border-bottom: 3px solid #{$primary_text_color};
   
  }
@media #{$sm-media} {
   .hambuger-menu{
     display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 600;
    }
    .navbar {
        background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0) );
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        height: 100vh;
    
        z-index: 500;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
        display: flex;
       align-items: center;
        justify-content: center;
        ul {
            display: flex;
            flex-direction: column;
        }
      h3 {
    position: absolute;
    top: 0px;
    right: 20px;
      }
    }
    .navbar.navbar_active {
        transform: translateX(0);
    }
}