@import "../../cssConstants/responsive.scss";
.infoPageContainer {
    background-image: url("../../assets/svg/bck.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}
.topWrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}
.btnContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.astronaute{
    position: absolute;
    right: 15%;
    width: 15rem;
    height: 15rem;
    animation: 5s infinite forwards astro;
    z-index: 0;
}
@keyframes astro{
    0%{
        transform: translateY(0) rotate(0deg);
    }
    50%{
        transform:  translateY(10px) rotate(5deg);
    }
    100%{
        transform: translateY(0);
    }
}
.skillsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
   
}
.skillsCards{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    position: relative;
    width: 22%;
    height: 7.5rem;
    text-align: center;
    background:  linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    border-radius: 5px;
}
.skillsCards >p{
position: absolute;
top: 0;
color: white;
font-size: 1rem;
font-weight: 600;
margin-bottom: 10px;
}
.skillsCards> img{
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
}
  .overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 2s ease-in;
    z-index: 5000;
 }

.star2{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: transparent;
    transition: ease-in 2s;
}
.starLight{
    background-color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
}
.neon-line5{
    width: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
    animation: position1 2s ease-in-out forwards,neon 1s 2s ease-in-out infinite alternate ;
  }
 
.neon-line6 {
    width: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
    animation: position1 2s 4s ease-in-out forwards,neon 1s 2s ease-in-out infinite alternate ;
  }
  @keyframes position1 {
    from {
    height: 0vh;
    }
    to {
     height: 47vh;
    }
}
  @keyframes neon {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff, 0 0 100px #fff;
    }
  }
  
//responsive
@media screen and (max-width : 1210px) {
    #myCanvas {
        width: 550px;
        height: 550px;
    }
}


@media #{$md-media}{
.btn-4{
    margin-bottom: 10rem;
}
  
#myCanvas {
    width: 500px;
    height: 500px;
}
.astronaute {
    width: 12rem;
    height: 12rem;
    right: 16%;
}
.skillsContainer {
    height: 60%;
}
.skillsCards {
    height: 6rem;
    p {
        margin-top: 2px;
        font-size: 13px;
    }
    img{
        width: 2.5rem;
        height: 2.5rem;
    }
}
}
  // responsive 768px
  @media screen and (max-width : 920px) {
    .btn-4{
        margin-bottom: 0;
    }
    .infoPageContainer{
        height: 100%;
    }
    .topWrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
    }
    .btnContainer{
        height: 8rem
    }
    .astronaute {
        top: 10rem;
        right: auto;
        width: 7rem;
        height: 7rem;
    }
    .skillsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
        gap: 30px;
    }
    .skillsCards{       
        width: 30%;
        height: 7rem;
        text-align: center;
        p {
            font-size: 15px
        }
        img {
            width: 3rem;
            height: 3rem;
            margin : 0 auto;
        }
    }
    #myCanvas {
        width: 450px;
        height: 450px;
        margin-top: -2rem;
            }
.guide2 {
    position: absolute;
    right: 0;
}
.neon-line5{ 
    width: 3px;
    animation: animation-sm 2s ease-in-out forwards, ;
}
.neon-line6{
  
  width: 3px;
  animation: animation-sm 2s 4s ease-in-out forwards, ;
}
@keyframes animation-sm {
  from {
  height: 0%;
  }
  to {
   height: 100%;
  }
}
.overlay {
height: 100%;
}    
  }

  //responsive 430px
   @media #{$xs-media}{
    #myCanvas{
        width: 100%;
        height: 400px;
    }
    .skillsCards {
        width : 45%
    }
    .topWrapper{
        padding: 0 10%;
    }
    .btn-4 {
        position: static;
        transform: translateX(0);
    }
   }
   @media #{$xxs-media} {
    
    .skillsCards {
        width : 40%
    }
    .topWrapper{
        padding: 0 5%;
    }
    .btn-4 {
        position: static;
        transform: translateX(0);
    }
   }