@import "../../cssConstants/responsive.scss";
.aboutMecontainer {
       background-image: url("../../assets/svg/bck.png");
       background-size: cover;
       height: 100vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
       gap: 4rem;
   }
   
   .textsContainer {
      display: flex;
      flex-direction: column;
     justify-content: center;
     align-items: center;
      gap: 2rem;
   }
   .textContainer{
      font-family: 'Courier New', Courier, monospace;
      width: 80%;
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 17px;
      border: 2px solid white;
      border-radius: 10px;
      padding: 20px;
   }
  .moon{
      margin-right: -100px;
  }
  .moonCanvas >canvas:first-child{
      display: none !important;
  }
  .show {
      color: red;
  }
    
    .filter{
      position: absolute;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      transition: 2s ease-in;
      pointer-events: none;
      
   }
   .filterGone{
     opacity: 0;
     z-index: 0;
    
   }
  
  .star2{
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: transparent;
      transition: ease-in 2s;
  }
  .starLight{
      background-color: #fff;
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
  }
  .neon-line3 {
      width: 4px;
      background-color: #fff;
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
       animation: position1 2s ease-in-out forwards,neon 1s 2s ease-in-out infinite alternate ;
    }
   
  .neon-line4 {
      width: 4px;
      background-color: #fff;
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
      animation: position1 2s 4s ease-in-out forwards,neon 1s 2s ease-in-out infinite alternate ;
    }
    @keyframes position1 {
      from {
      height: 0vh;
      }
      to {
       height: 47vh;
      }
  }
    @keyframes neon {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff, 0 0 100px #fff;
      }
    }
//responsive md screen 1024
@media #{$md-media} {
  .textsContainer{
    p {
      font-size: 15px;
    }
    
  }
}
//responsive small screens 768
@media #{$sm-media}{
    .aboutMecontainer {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .textsContainer{
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        display: flex;
        flex-direction:column-reverse;
        gap: 1rem;
        margin-top: 5rem;
        padding-bottom: 2rem;
    }
    .textContainer{
        font-size: 12px;
    }
    .moon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-top: -2rem;
        margin-bottom: -8rem;
        
    }
   
    .star2 {
        width: 10px;
        height: 10px;
    }
    .neon-line3{ 
     
        width: 3px;
        animation: animation-sm 2s ease-in-out forwards, ;
    }
    .neon-line4{
      
      width: 3px;
      animation: animation-sm 2s 4s ease-in-out forwards, ;
    }
    @keyframes animation-sm {
      from {
      height: 0%;
      }
      to {
       height: 100%;
      }
  }
    .moonCanvas{
      width: 500px;
    }
}